.steps-reservation-form {
    min-height: 600px;
    height: 600px;
    max-height: 100px;
    width: 100%;
}
.steps-header {
    width: 100%;
    height: 20%;
    /* box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid #eee;
}
.steps-bottom {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.step-icon {
    position: relative;
    width: 75px;
    height: 75px;
    padding: 5px;
    border: 2px solid #db5252;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
    font-size: 13px;
}
.step-icon::after {
    content: "";
    width: 20px;
    height: 3px;
    background: #db5252;
    position: absolute;
    right: -22px;
}
.step-four-icon::after {
    content: "";
    width: 20px;
    height: 3px;
    background: transparent !important;
    position: absolute;
    right: -22px;
}
.step-icon.active {
    background: #db5252;
    color: #fff;
}
.steps {
    display: none;
    height: 70%;
}

.step-one {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.active-step {
    display: block;
}

.tour-type {
    width: 120px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.tour-type img,
h4 {
    pointer-events: none;
}
.tour-type.selected {
    border: 2px solid #db5252;
}
